<!DOCTYPE html>
<html lang="">
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800,600,300" rel="stylesheet" type="text/css">
    <style>
        body {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        @media only screen and (max-width: 695px) {
            .title {
                font-size: 5vw !important;
            }

            .subtitle {
                font-size: 4vw !important;
            }
        }

        .image-logo {
            margin: 40px auto;
            display: block;
            width: 138px;
            height: 66px;
            border: none;
            background: transparent url("https://backend.onlinebattleground.com/Uploads/OnlineBattleground.png") 0% 0% no-repeat;
        }

        .image-forgot {
            margin: 34px 302px 0px 301px;
            width: 91px;
            height: 98px;
            background: transparent url("https://backend.onlinebattleground.com/Uploads/forgot.png") 0% 0% no-repeat;
            opacity: 1;
        }

        .body-background {
            width: 695px;
            height: 737px;
            background: #1A1A1A 0% 0% no-repeat padding-box;
            border: 1px solid #FFFFFF4D;
            border-radius: 8px;
            opacity: 1;
            margin: 5px auto;
            text-align: center;
        }

        .reset_password {
            margin-top: 40px;
            margin-left: 279px;
            width: 173px;
            height: 32px;
            text-align: left;
            font-size: 20px;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 0.9;
        }

        .reset_description {
            margin-top: 16px;
            margin-left: 100px;
            width: 494px;
            height: 61px;
            text-align: center;
            font-size: 16px;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 0.7;
        }

        .reset_btn {
            display: block;
            margin: 100px auto;
            width: 200px;
            padding: 8px 20px;
            background: #F26826 0% 0% no-repeat padding-box;
            border-radius: 4px;
            opacity: 1;
        }

        .reset_text {
            color: white !important;
            text-decoration: none;
        }
    </style>
<body>
<div class=" body-background">
    <p class="image-logo">
    <p class="image-forgot">
    <div class="reset_password">
        Reset Password
    </div>
    <div class="reset_description">We're sending you this because we've received a request to reset your password.
        If you didn't make this request, just ignore this email. Otherwise,
        you can change your password using this link.<br/><br/>
        Note: &nbsp; This link will be expired in one hour.
    </div>

    <a class="reset_text reset_btn" href="{{link}}">Reset Password</a>

    <br>
</div>
</body>
</html>